# data store
data/*

# env file
.env

# API keys
notebooks/googleAPI_key.txt
notebooks/NCBI_API_key.txt
notebooks/mapboxAPI_key.txt

# heavy maps
crossGeoCollabs.html

# jupyter notebook checkpoints
*.ipynb_checkpoints/

# node modules
node_modules/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# vscode
.vscode

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

